.cards__edit-profile {
  background-image: url(../../../images/Edit\ pen.svg);
  background-repeat: no-repeat;
  background-size: auto;
  box-sizing: border-box;
  background-position: center;
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  cursor: pointer;

}




